.button-with-icon {
  background-color: #003D5C;
  color: white;
  padding: 12px 24px;
  gap: 8px;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 215px;
  width: auto;
  text-decoration: none;
  box-sizing: border-box;
}

.button-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.generate-button {
  background-color: #003D5C;
  color: white;
  padding: 12px 24px;
  gap: 8px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.generate-button:hover {
  background-color: #00b3aa;
}

@media (min-width: 375px) {
  .button-with-icon,
  .generate-button {
    max-width: 250px;
    padding: 14px 20px;
    font-size: 16px;
    z-index: 20;
    position: relative;
  }
}

@media (min-width: 768px) {
  .button-with-icon,
  .generate-button {
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .button-with-icon,
  .generate-button {
    padding: 16px 32px;
    font-size: 18px;
    max-width: 300px;
  }
}