.modules-column {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 45px;
}

.module {
  width: 329px;
  height: 206px;
  border: 2px solid #7BEFFF;
  border-radius: 4px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.module:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.img-phone {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 375px) {
  .modules-column {
    flex-direction: column;
    gap: 15px;
    margin: 20px 10px;
  }
  
  .module {
    width: 100%;
    height: auto;
    min-height: 150px;
    padding: 15px;
    order: 2;
  }
  
  .module:last-child {
    order: 1;
    height: 180px;
    margin-bottom: 5px;
  }
  
  .module-title {
    font-size: 16px;
  }
  
  .module-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 376px) {
  .modules-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 20px;
    justify-content: flex-start;
  }
  
  .module:last-child {
    order: 1;
    width: 100%;
    height: 300px;
    flex: 0 0 100%;
  }
  
  .module:not(:last-child) {
    order: 2;
    width: calc(50% - 10px);
    flex: 0 0 calc(50% - 10px);
    height: 210px;
    min-height: auto;
  }
  
  .img-phone {
    height: 100%;
    object-fit: cover;
    object-position: center 30%;

  }
}

@media (min-width: 1920px) {
  .modules-column {
    max-width: 1500px;
    margin: 60px auto;
    justify-content: center; 
    gap: 30px; 
  }

   .module-title {
    font-size: 20px;
  }
  
  .module-text {
    font-size: 14px;
  }
  
  .module, 
  .module:last-child {
    width: 330px;
    height: 206px; 

}
}